<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.9">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <hudson.triggers.SCMTrigger>
          <spec>* * * * *</spec>
          <ignorePostCommitHooks>false</ignorePostCommitHooks>
        </hudson.triggers.SCMTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.24">
    <script>node {
  stage (&apos;Checkout&apos;){
  checkout([
    $class: &apos;GitSCM&apos;,
      branches: [[name: &apos;*/readyPipeScriptedScript/*&apos;]],
      userRemoteConfigs: [[
        name: &apos;origin&apos;,
        url: &apos;git@github.com:bicschneider/test-git-phlow-plugin.git&apos;
      ]],
      extensions: [
        pretestedIntegration(
          gitIntegrationStrategy: accumulated(),
          integrationBranch: &apos;master&apos;,
          repoName: &apos;origin&apos;)
        ,
        [ $class: &apos;ChangelogToBranch&apos;,
          options: [compareRemote: &apos;origin&apos;, compareTarget: &apos;masterPipeScriptedScript&apos;]
        ]
      ]
    ])
    pretestedIntegrationPublisher()
  }
}
</script>
    <sandbox>true</sandbox>
  </definition>
</flow-definition>